#perfil{
    background-color: #041f3d;
}

#perfil h2{
    color: #8e6664;
}

#perfil p {
    color:#ffffff;
    font-size: 16px;
    text-align: justify;
}
#perfilContainer{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 30px;
    flex-direction: column;

}

@media (max-width: 425px){
    #perfilContainer{
        display: block;
        padding: 0px;

    }

    #perfilContainert img{
        max-width: 100%;
    }
}


#perfilContainer img{
    width: 100%;
}